<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 打印sql执行日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 开启驼峰映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 数据库超过25000秒仍未响应则超时 -->
        <setting name="defaultStatementTimeout" value="25000" />
    </settings>

    <!-- 重命名mybaties映射时的实体类 -->
    <typeAliases>
        <typeAlias type="com.xpl.entity.po.UserInfoPO" alias="UserInfoPO"/>
    </typeAliases>
</configuration>